.filter-border .ant-input-number{
    width: 100px;
    border: 1px solid lightgray;
    padding: 2px;
    margin: 10px;
}

.filter-border{
    padding-left: 2px;
}

.kind-filter-option{
    margin-top: 10px;
    margin-right: 3px;
}
