.card-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
}

.card-header{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.card-header button svg[data-icon="arrow-left"] {
    width: 1.2em;
    height: 1.2em;
}

.ant-card-meta {
    display: flex;
    align-items: center;
}

.card-wrapper .ant-card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.card-wrapper .ant-card-cover img {
    object-fit: cover;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.icon-button-wrapper svg[data-icon="heart"] path:first-child  {
    fill: #4c4c4c;
}

.icon-button-wrapper svg[data-icon="heart"] path:last-child  {
    fill: transparent;
}


.icon-button-wrapper svg[data-icon="heart"] path:hover,
.icon-button-wrapper svg[data-icon="shopping-cart"]:hover {
    fill: #1890ff;
}

.icon-button-wrapper .icon-highlighted svg[data-icon="heart"] path{
    fill: #1890ff;
}


.icon-button-wrapper svg[data-icon="heart"] {
    width: 1.5em;
    height: 1.5em;
}

.icon-button-wrapper svg[data-icon="shopping-cart"] {
    width: 1.8em;
    height: 1.8em;
}

.icon-button-wrapper span[aria-label="heart"] {
    border-radius: 50px 0 0 50px;
}

.icon-button-wrapper span[aria-label="shopping-cart"]{
    border-radius: 0 50px 50px 0;
}


.icon-button-wrapper {
    z-index: 9999999;
    position: fixed;
    bottom: 14px;
    width: 36%;
    display: flex;
    justify-content: flex-end;
}

.icon-button-wrapper span {
    padding: 10px 20px;
    background-color: #fad314;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-wrapper table th.ant-descriptions-item-label {
    padding: 12px;
}

@media only screen and (min-width: 1300px) {
    .card-wrapper .ant-card-cover {
        height: 500px;
    }
}


@media only screen and (max-width: 1300px) {
    .icon-button-wrapper {
        width: 47%;
    }
}

@media only screen and (max-width: 1100px) {
    .card-wrapper .ant-card-cover {
        height: 300px;
    }

    .card-wrapper .ant-card-body {
        padding: 10px;
    }
}

@media only screen and (max-width: 750px) {
    .card-wrapper .ant-card-cover {
        height: 400px;
    }

    .icon-button-wrapper {
        width: 57%;
    }
}

@media only screen and (max-width: 650px) {
    .icon-button-wrapper {
        width: 59%;
    }
}

@media only screen and (max-width: 550px) {
    .card-wrapper .ant-card-cover {
        height: 300px;
    }

    .icon-button-wrapper {
        width: 61%;
    }
}

@media only screen and (max-width: 450px) {
    .icon-button-wrapper {
        width: 63%;
    }
}

@media only screen and (max-width: 400px) {
    .card-wrapper .ant-card-cover {
        height: 200px;
    }

    .icon-button-wrapper {
        width: 65%;
    }
}

@media only screen and (max-width: 350px) {
    .icon-button-wrapper {
        width: 67%;
    }
}

