.comments {
    padding-bottom: 5rem;
}

.ant-comment-inner{
    padding-top: 8px;
    padding-bottom: 10px;
}

.ant-comment-actions{
    margin-top: 0px;
}

.ant-divider{
    margin: 2px;
}

.ant-list-header{
    padding-top: 0px;
}

.comments-wrapper {
    padding-left: 12px;
    padding-bottom: 65px;
}
