.right-container {
    height: 100%;
}

.site-layout-background {
    text-align: left;
    background-color: #fff;
    padding: 24px;
}

.avatar {
    padding-right: 3%;
    display: flex;
    flex-direction: row-reverse;
}

/* .animalName {
    margin-top: 25%;
    margin-left: 20%;
} */