.right-container {
    height: 100%;
    padding: 0 24px 24px;
}

.site-layout-background {
    text-align: left;
    background-color: #fff;
}

.ant-menu-inline {
    padding-top: 35px;
}

.avatar {
    padding-right: 3%;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .sideBar {
        display: none;
    }
    .breadcrumb {
        display: none;
    }
    .right-container {
        padding: 0 0 0 0;
    }
}

/* .animalName {
    margin-top: 25%;
    margin-left: 20%;
} */
.posts-thumbnail-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.posts-thumbnail {
    position: relative;
    width: 200px;
    max-width: 200px;
    flex: none;
}

.posts-thumbnail .ant-card-cover{
    height: 150px;
}


.posts-thumbnail .ant-card-cover img {
    object-fit: cover;
    height: 150px;
}

.posts-thumbnail span[aria-label="close-circle"] {
    position: absolute;
    top: -5px;
    right: 0px;
    cursor: pointer;
    z-index: 99;
}

.posts-thumbnail span[aria-label="close-circle"] svg{
    width: 25px;
    height: 25px;
}

.posts-thumbnail span[aria-label="close-circle"] svg:hover {
    fill: #1890ff;
}

.posts-thumbnail-wrapper .ant-card-hoverable {
    cursor: default;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-color: #ededed;
}

.animal-sold-message {
    width: 184px;
    height: 97%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .user-info-content .ant-card-head ,
    .user-info-content .ant-card-body {
        padding: 0;
    }

    .user-info-content #comment-text {
        max-width: 100% !important;
    }
}
