.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    padding: 0.3rem 0.6rem;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.header-btns{
    display: flex;
    flex: 1 1 30%;
    justify-content: flex-end;
    align-items: center;
}

.header-btns a[href="/login"] {
    margin: 10px;
    color: black;
    padding: 0;
}

.header-btns a[href="/login"]:hover {
    color: #1890ff;
}

.header-btns .ant-btn-primary.header-btn {
    color: white;
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (max-width: 400px) {
    .header img[alt="Petpal-logo"] {
        width: 130px;
    }

    .header-btns .ant-btn-primary.header-btn {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 340px) {
    .header img[alt="Petpal-logo"] {
        width: 115px;
    }
}
