.header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 100%;
    padding: 0.3rem 0.6rem;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.header-btns{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-btn{
    margin: 10px;
    color: black;
}

.ant-comment-avatar img {
}
